<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <h1>Welcome, {{userName}}!</h1>
  </h1>
  <h2>{{year}}.{{month}}.{{day}}</h2>
  <div class="jumbotron">
    <form>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>
    <app-recipe-list [childRecipeList]="masterRecipeList" (clickSenderEdit)="editRecipe($event)" (clickSenderView)="viewRecipe($event)"></app-recipe-list>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2XBymuxPjggXAW7aXgYF41fKi7jwLVvNtC6xJYJfaoPWZMw96" alt="">
  </div>
  <div class="card-block">
    <div *ngIf="selectedView">
      <h1>{{selectedView.title}}</h1>
      <br>
      <h4>Ingredients</h4>
      <ul>
        <li *ngFor="let currentIngredient of selectedView.ingredients">{{currentIngredient}}</li>
      </ul>
      <br>
      <h4>Instructions</h4>
      <p>{{selectedView.directions}}</p>


    </div>
  </div>
  <div class="jumbotron">
    <app-edit-recipe [selectedEdit]="selectedEdit" (clickedDone)="finishedEditing()"></app-edit-recipe>
  </div>
</div>
